@charset "utf-8";

/*全局控制*/
body{margin:0px;padding:0px;font-family:"微软雅黑";color:#000;font-size:12px;line-height:22px;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p{margin:0;padding:0;}
input,select{font-size:12px;line-height:16px;}
img{border:0;vertical-align:bottom;}
ul,li{list-style:none;}
a{color:#000;text-decoration:none;}
a:hover{text-decoration:none;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.cl{clear:both;}.fb{font-weight:bold;}
.dis{display:block;}.undis{display:none;}
.fl{float:left;}.fr{float:right;}
.abs{position:absolute;}
.rel{position:relative;}


/*header*/
.header{width:1200px; height:126px; margin:0 auto;}
.logo{float:left; width:192px;}
.nav{float:right; width:1002px; margin:46px -18px 0 0;}
.nav li{float:left; width:100px; height:40px; line-height:26px; text-align:center; margin-left:11px; display:inline; font-size:16px; position:relative;}
.nav a{display:block; height:40px; color:#333;width:100px;}
.nav a:hover{background:url(../images/nav_line.jpg) no-repeat center bottom;display: block; color:#c60108;}
.nav li .subnav{width:100px; border-top:solid 3px #c60108; background:rgba(255,255,255,0.7); position:absolute; left:0; top:37px; z-index:9999; display:none;}
.subnav li{margin:0; line-height:40px; font-size:14px;}
.subnav a{color:#333;}
.subnav a:hover{background:#c9c9c9; color:#c60108;}

.unslider{overflow:auto}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel li{float:left}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}
.unslider-arrow.next{left:auto;right:20px}
.unslider{position: relative;}
.banner { position: relative; overflow: hidden; text-align: center; height: auto!important;}
.banner li { list-style: none;}
.banner ul li { float: left;}
.banner ul li img{width: 100%;}
.unslider-nav{position: relative;}
.unslider-nav ol { position: absolute; left: 0; right: 0; bottom: 20px; text-align: center; z-index: 100;}
.unslider-nav ol li{display: inline-block; width: 10px; height: 10px; border:solid 2px #fff; border-radius:50%; margin: 0 10px; text-indent: -999em;cursor: pointer; -webkit-transition: background .5s, opacity .5s; -moz-transition: background .5s, opacity .5s; transition: background .5s, opacity .5s;}
.unslider-nav .unslider-active{border:solid 2px #fff;background: #fff;opacity: 1;}


/*mainbody*/
.food_bg01{min-width:1200px; background:url(../images/food_bg01.jpg) repeat center top;}
.food_bg02{min-width:1200px; padding:30px 0 60px 0;}
.food_title{width:1200px; height:124px; text-align:center; color:#404040; font-size:37px; line-height:50px; font-weight:bold; background:url(../images/food_top.jpg) no-repeat center bottom; text-transform:uppercase; margin:0 auto 34px;}
.food_title span{font-family:Arial;}
.food{width:1200px; margin:0 auto;}

.food img{  
    cursor: pointer;  
    transition: all 0.6s;  
}  
.food img:hover{  
    transform: scale(1.1);  
}  


.food li{float:left; width:600px;}
.food_t{height:299px;}
.food_red{float:left; width:300px; text-align:center; height:229px; padding-top:70px; background:#d8000f;}
.food_tit{width:100%; height:110px; text-align:center; color:#fff; background:url(../images/heart.jpg) no-repeat center bottom; font-family:Arial; font-size:18px; font-weight:bold; text-transform:uppercase; margin-bottom:50px;}
.food_tit h4{line-height:34px; background:#d8000f; font-size:24px; font-family:"微软雅黑";}
.food_tit h4 span{font-size:14px; margin:0 8px;}
.food_more{width:92px; height:24px; line-height:24px; text-align:center; border:solid 1px #fff; font-size:15px; margin:0 auto;}
.food_more a{color:#fff;}
.food_pic01{float:left; width:300px; height:299px;overflow: hidden;}
.food_pic02{float:left; width:600px; height:301px;overflow: hidden;}

.brand_bg{min-width:1200px; padding:34px 0 54px 0; background:url(../images/brand_bg.jpg) repeat center top;}
.brand_title{width:1200px; height:124px; text-align:center; color:#fff; font-size:37px; line-height:50px; font-weight:bold; background:url(../images/brand_top.jpg) no-repeat center bottom; text-transform:uppercase; margin:0 auto 30px;}
.brand_title span{font-family:Arial;}
.brand{width:1200px; height:349px; margin:0 auto;}
.video{float:left; width:600px; height:349px;}
.about_bg{float:left; width:600px; height:302px; padding-top:47px; background:#fefdf8; position:relative;}
.about{width:470px; height:222px; color:#818181; font-size:14px; margin:0 auto;}
.about h1{color:#525252; font-size:24px; line-height:28px;}
.about h4{color:#868686; font-size:18px; line-height:22px; margin-bottom:18px;}
.about_more{width:158px; height:40px; line-height:40px; text-align:center; font-size:16px; background:#d8000f; position:absolute; right:0; bottom:0;}
.about_more a{color:#fff;}

.inf_bg{min-width:1200px; padding:28px 0 42px 0; background:url(../images/inf_bg.jpg) repeat center top;}
.inf{width:1200px; border-top:solid 2px #e8e8e8; margin:0 auto 44px;}
.inf li{height:84px; border-bottom:solid 2px #e8e8e8; background:url(../images/inf_bg01.jpg) no-repeat 1114px center; padding:32px 2px 30px 2px; margin-bottom:-2px;}
.inf li:hover{border:solid 2px #d8000f; background:url(../images/inf_bg02.jpg) no-repeat 1114px center; padding:30px 0;}
.inf_date{float:left; width:147px; text-align:right; color:#bdbdbd; font-size:20px; line-height:34px; margin-right:50px;}
.inf_date h4{color:#d8000f; font-size:38px; line-height:50px; background:url(../images/inf_date_line.jpg) no-repeat right bottom; font-weight:normal;}
.inf_r{float:left; width:860px; color:#818181; font-size:14px; line-height:24px; }
.inf_r span{text-indent: 2em; display: block;}
.inf_r h4{color:#525252; font-size:18px; line-height:36px;}
.inf_r a{color:#525252;}
.inf_more{width:185px; height:40px; line-height:40px; text-align:center; border:solid 1px #333; font-size:17px; margin:0 auto;}
.inf_more a{color:#333;}

.adv{min-width:1200px; height:299px; background:#c60108; text-align:center; color:#fff; font-size:21px; font-family:Arial; line-height:30px; text-transform:uppercase;}
.adv h4{font-family:"微软雅黑"; font-size:53px; font-weight:normal; line-height:80px; padding-top:90px;}

.contact{width:1200px; margin:0 auto;}
.con_01{height:52px; line-height:52px; color:#565656; font-size:20px; margin-bottom:15px;}
.name_fon{float:left; width:80px;}
.name{float:left; width:600px; padding-left:8px; height:50px; line-height:50px; border:solid 1px #d4d4d4; font-size:20px; font-family:"微软雅黑";}
.add_fon{float:left; width:70px; padding-left:20px;}
.add{float:left; width:410px; padding-left:8px; height:50px; line-height:50px; border:solid 1px #d4d4d4; font-size:20px; font-family:"微软雅黑";}
.con_02{height:166px; line-height:52px; color:#565656; font-size:20px; margin-bottom:15px;}
.message{float:left; width:1108px; padding:5px; height:154px; line-height:22px; border:solid 1px #d4d4d4; font-size:20px; font-family:"微软雅黑";}
.yzm{float:left; width:288px; padding:5px; height:40px; line-height:40px;text-align: center; border:solid 1px #d4d4d4; font-size:20px; font-family:"微软雅黑"; margin-right:18px;}
.yzm_btn{float:left; width:149px; height:50px; border:solid 1px #d4d4d4;}
.btn{height:42px; text-align:center; padding-top:26px;}
.btn_submit{width:187px; height:42px; border:none; background:#c7000a; color:#fff; font-size:17px; font-family:"微软雅黑"; margin:0 40px;}
.btn_reset{width:187px; height:42px; border:none; background:#b9b9b9; color:#fff; font-size:17px; font-family:"微软雅黑"; margin:0 40px;}


/*footer*/
.foot_bg{min-width:1200px; background:#2e2d29; padding:70px 0 42px 0;}
.foot_part{width:1200px; margin:0 auto;}
.foot{float:left; width:730px; padding-left:90px;}
.foot dl{float:left; width:198px;}
.foot dt{line-height:34px; margin-bottom:20px; color:#fff; font-size:18px; font-family:"黑体";}
.foot dd{line-height:26px; font-size:15px; color:#737373;}
.foot a{color:#737373;}
.foot a:hover{color:#fff;}
.foot .foot_tel{width:220px;}
.foot .foot_tel img{margin-bottom:4px;}
.code{float:right; width:304px; padding-right:10px;}
.code li{float:left; width:152px; text-align:center; line-height:40px; color:#737373; font-family:"黑体"; font-size:14px;}

.copyright{min-width:1200px; text-align:center; background:#3c3c3a; border-top:solid 1px #343330; line-height:48px; color:#737373; font-size:14px;}


/*product*/
.product_line{min-width:1200px; padding-top:30px; border-bottom:solid 1px #ccc; margin-bottom:40px;}
.product_top{width:1200px; height:74px; margin:0 auto;}
.product_title{float:left; height:74px; line-height:50px; background:url(../images/product_tline.jpg) no-repeat 2px bottom; color:#404040; font-size:34px; font-weight:bold; text-transform:uppercase;}
.product_title span{font-family:Arial;}
.product_tr{float:right; color:#333; font-size:15px; margin-top:16px; line-height:24px;}
.product_tr img{float:left; margin-right:15px;}
.product_tr a{color:#333;}
.product_tr .product_tr01{color:#727272;}
.product_tr .product_tr02{color:#c7000a;}
.mainbody{width:1200px; margin:0 auto 40px;}
.product_list{width:100%; text-align:center; margin-bottom:20px;}
.product_list li{font-size:17px; display:inline;}
.product_list a{width:140px; height:42px; line-height:42px; background:#404040; border-radius:5px; display:inline-block; color:#fff; margin:0 14px 20px 14px;}
.product_list a:hover{background:#c7000a; color:#fff;}
.product_list .product_lon a{background:#c7000a; color:#fff;}
.product{width:1056px; margin:0 auto;}
.product li{float:left; width:330px; height:395px; margin:0 11px 22px 11px; display:inline; position:relative;}
.product img{width:330px; height:330px;}
.product li .product_fon{width:330px; height:78px; text-align:center; font-size:18px; position:absolute; left:0; bottom:0; z-index:2;}
.product li .product_fon a{display:block; height:65px; line-height:65px; margin-top:13px; color:#333; background:#f8f8f8;}
.product li:hover .product_fon a{background:url(../images/product_fon_bg.png) no-repeat; color:#fff; margin:0; padding-top:13px;}
.product li .product_tm{width:330px; height:192px; padding-top:138px; text-align:center; background:rgba(0,0,0,0.6); position:absolute; top:0; left:0; opacity: 0; z-index:1;}
/*.product li:hover .product_tm{opacity: 1}*/
.product_tm img{width:81px; height:81px;}
.page{width:100%; text-align:center; padding-top:17px; font-size:14px;}
.page a{border:solid 1px #e0e0e0; padding:8px 14px; border-radius:3px; margin:0 2px; color:#333;}
.page a:hover{background:#c7000a; color:#fff;}
.page .page_fh a{font-family:"宋体"; background:#f4f4f4; color:#848484; padding:11px 14px 10px 14px;}
.page .page_fh a:hover{background:#c7000a; color:#fff;}


/*news*/
.news{width:1048px; border-top:solid 2px #e8e8e8; margin:0 auto 44px;}
.news li{height:84px; border-bottom:solid 2px #e8e8e8; background:url(../images/inf_bg01.jpg) no-repeat 970px center; padding:32px 2px 30px 2px; margin-bottom:-2px;}
.news li:hover{border:solid 2px #d8000f; background:url(../images/inf_bg02.jpg) no-repeat 970px center; padding:30px 0;}
.news_r{float:left; width:718px; color:#818181; font-size:14px; line-height:24px;}
.news_r span{text-indent: 2em; display: block;}
.news_r h4{color:#525252; font-size:18px; line-height:36px;}
.news_r a{color:#525252;}

#news_list ul {	width: auto;height: 230px;padding: 9px;}
#news_list ul li {	width: auto;	padding-left: 10px;	height: 30px;	line-height: 30px; *height: 27px; *line-height: 27px;	padding-right: 10px;color:#000;}
#news_list a{color:#000;}
#news_list a:hover{ text-decoration:none; }
#news_list ul li:hover{ text-decoration:none; position: relative; right: 0px; top: 1px;}
#news_list .one {background: #F0F0F0;} 
#news_list ul li span {	float: left;}
#news_list ul li strong {	float: right;	font-weight: normal;}
#news_con {	width: auto;	min-height: 360px;	padding: 15px;	padding-right: 0px;	color:#000;	text-align:justify;}
#news_con img {max-width: 1100px;}
#news_con .h1 {	text-align: center;	font-size: 20px;	height: 35px;	line-height: 35px;}
#news_con .h2 {	text-align: center;	font-weight: normal;	width: auto;	height: 25px;	margin-top:20px;line-height: 25px;	border-top: solid 1px #ccc;	border-bottom: solid 1px #ccc;	color: #666;	margin-bottom: 5px; font-size:14px}
#news_con #pic { position:relative;text-align: center;	margin-bottom: 5px;margin-top: 30px;}
#news_con #pic #prev{ position:absolute; top:50%; left:0px; font-size:50px;font-weight:bold; }
#news_con #pic #next{ position:absolute; top:50%; right:0px; font-size:50px;font-weight:bold;}
#news_con #pic #prev_none{ position:absolute; top:50%; left:0px; color:#999; font-size:50px;font-weight:bold}
#news_con #pic #next_none{ position:absolute; top:50%; right:0px; color:#999; font-size:50px;font-weight:bold}
#news_cons_title{border-bottom:solid 1px #ccc; font-weight:bold ; font-size:15px; margin-bottom:10px;}
#news_cons{ margin-bottom:15px;}


/**/
.quan,.fdj{
	margin: 0 -40px;
	transition: .2s;
}
.quan{
	transform: translateX(-50px);
}
.fdj{
	transform: translateX(50px);
}
.product li:hover .quan,.product li:hover .fdj{
	transform: translate(0);
}